@font-face {
  font-family: "Sharp Sans Display no2";
  src: url("../fonts/SharpSansNo2/SharpSansNo2Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Sharp Sans Display no2";
  src: url("../fonts/SharpSansNo2/SharpSansNo2Semibold.otf");
  font-weight: 600;
  font-style: normal; }
.heading-second-lvl {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  @media (max-width: 992px) {
    .heading-second-lvl {
      font-size: 24px; } }

.heading-third-lvl {
  font-size: 36px;
  font-weight: 600;
  line-height: 150%; }

.heading-fourth-lvl {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  @media (max-width: 1200px) {
    .heading-fourth-lvl {
      font-size: 18px; } }

.heading-fifth-lvl {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.simple-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; }

.subtext {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.bold-subtext {
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.price-text {
  font-size: 18px;
  line-height: 130%;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.menu-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%; }

.decoration-text, .sticked-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.input {
  padding: 10px 0;
  font-family: "Sharp Sans Display no2", "Calibri", "Ubuntu", arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: #8e8d8c;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  transition-duration: 0.5s;
  outline: none; }
  .input:valid {
    color: #4f1010;
    border-bottom-color: #4f1010; }
  .input:invalid {
    color: #eb5757;
    border-bottom-color: #eb5757; }
  .input:not(:focus) {
    color: #8e8d8c;
    border-bottom-color: #8e8d8c; }

.filled-big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: #333;
  border: 1px solid #333;
  transition-duration: 0.5s;
  cursor: pointer;
  user-select: none; }
  .filled-big-button:hover {
    color: #333;
    background-color: #e4dfd3; }

.learn-more-button {
  display: inline-block;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4f1010;
  transition-duration: 0.5s;
  cursor: pointer;
  user-select: none;
  text-align: center; }
  .learn-more-button:after {
    content: "";
    display: block;
    margin-top: 12px;
    width: 100%;
    height: 2px;
    background-color: #4f1010;
    transition-duration: 0.5s; }
  .learn-more-button:hover::after {
    width: 0; }

.sliders-chapter-button {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8e8d8c;
  border-bottom: 2px solid transparent;
  transition-duration: 0.5s;
  cursor: pointer; }
  @media (max-width: 992px) {
    .sliders-chapter-button {
      padding-bottom: 10px;
      font-size: 14px; } }
  .sliders-chapter-button:hover {
    color: #333; }

.container {
  max-width: 1500px;
  margin: auto;
  padding-right: 5px; }

.sticked-label {
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
  color: #977272;
  transform-origin: top left;
  transition-duration: 0.5s;
  transform: rotate(-90deg);
  user-select: none; }
  .sticked-label::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100px;
    margin-right: 10px;
    background-color: #977272; }
  .sticked-label:hover {
    transform: rotate(-90deg) skewX(-20deg); }
  @media (max-width: 1200px) {
    .sticked-label {
      display: none; } }

* {
  box-sizing: border-box; }
  *::selection {
    color: #e4dfd3;
    background: #977272; }

html {
  scroll-behavior: smooth; }

html,
body {
  font-family: "Sharp Sans Display no2", "Calibri", "Ubuntu", arial, sans-serif; }

body,
ul,
h1,
h2,
h3,
p {
  margin: 0; }

ul {
  padding: 0; }

a {
  text-decoration: none; }

body {
  background-color: #e4dfd3;
  color: #333;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    height: 7px;
    background-color: #e4dfd3; }
  body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #977272; }

.header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  color: #4f1010; }
  @media (max-width: 992px) {
    .header {
      padding: 23px 27px; } }
  .header__menu-button {
    display: none; }
    @media (max-width: 992px) {
      .header__menu-button {
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        padding: 5px;
        background-color: #e4dfd3;
        cursor: pointer; } }
  .header__menu-button-line {
    display: block;
    height: 2px;
    background-color: #4f1010;
    transition-duration: 0.5s; }
  .header__logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; }
    @media (max-width: 992px) {
      .header__logo-box {
        justify-content: center; } }
  .header__logo-image {
    display: block;
    height: 50px;
    width: 50px; }
    @media (max-width: 992px) {
      .header__logo-image {
        height: 24px;
        width: 24px; } }
  .header__logo-text {
    margin-left: 12px; }
    @media (max-width: 1200px) {
      .header__logo-text {
        display: none; } }
  .header__menu {
    justify-self: center; }
    @media (max-width: 992px) {
      .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding: 17vw 27px;
        background-color: #333;
        transition-duration: 0.5s;
        z-index: -1;
        opacity: 0; } }
  .header__ul {
    display: flex;
    list-style: none; }
    @media (max-width: 992px) {
      .header__ul {
        display: block; } }
  .header__link {
    display: inline-block;
    padding: 20px;
    color: inherit;
    transition-duration: 0.5s;
    text-decoration: none; }
    .header__link::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: #4f1010;
      transition-duration: 0.5s; }
    .header__link:hover::after {
      width: 100%; }
    @media (max-width: 992px) {
      .header__link {
        display: block;
        margin-top: 50px;
        padding: 10px;
        color: #e4dfd3;
        border-bottom: 1px solid #8e8d8c;
        text-align: center; }
        .header__link:hover {
          color: #977272; }
          .header__link:hover::after {
            width: 0; } }
  .header__basket {
    justify-self: end;
    height: 25px;
    width: 20px;
    background: url(../images/header/header-basket.svg) center no-repeat;
    background-size: contain; }
    @media (max-width: 992px) {
      .header__basket {
        align-self: flex-end; } }
  .header__menu-toggler {
    display: none; }
  .header__plug {
    display: none; }
    @media (max-width: 992px) {
      .header__plug {
        display: block; } }
  .header__menu-toggler:checked ~ .header__menu-button {
    background-color: transparent; }
  .header__menu-toggler:checked ~ .header__menu-button .header__menu-button-line {
    background-color: #e4dfd3; }
    .header__menu-toggler:checked ~ .header__menu-button .header__menu-button-line:first-child {
      transform: translateY(8px) rotate(-135deg); }
    .header__menu-toggler:checked ~ .header__menu-button .header__menu-button-line:nth-child(2) {
      opacity: 0; }
    .header__menu-toggler:checked ~ .header__menu-button .header__menu-button-line:last-child {
      transform: translateY(-10px) rotate(-45deg); }
  .header__menu-toggler:checked ~ .header__menu {
    z-index: 1;
    opacity: 1; }

.main-screen {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 200px 150px; }
  @media (max-width: 1200px) {
    .main-screen {
      padding-left: 50px; } }
  @media (max-width: 992px) {
    .main-screen {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 27px 100px; } }
  @media (max-width: 576px) {
    .main-screen {
      padding: 0 0 60px; } }
  .main-screen__content-box {
    max-width: 480px;
    margin-right: 20px;
    color: #333; }
    @media (max-width: 992px) {
      .main-screen__content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        text-align: center; } }
    @media (max-width: 576px) {
      .main-screen__content-box {
        padding: 0 20px; } }
  .main-screen__title {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
    line-height: 120%; }
    @media (max-width: 992px) {
      .main-screen__title {
        margin-bottom: 20px;
        font-size: 36px; } }
    @media (max-width: 576px) {
      .main-screen__title {
        margin-bottom: 12px;
        font-size: 24px; } }
  .main-screen__promotion {
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 500;
    color: #4f1010; }
    @media (max-width: 992px) {
      .main-screen__promotion {
        margin-bottom: 30px;
        max-width: 280px;
        font-size: 18px; } }
    @media (max-width: 576px) {
      .main-screen__promotion {
        margin-bottom: 20px; } }
  .main-screen__button {
    width: 280px; }
  .main-screen__image {
    display: block;
    max-height: 450px;
    max-width: 570px;
    width: 100%;
    object-fit: cover;
    object-position: center; }
    @media (max-width: 992px) {
      .main-screen__image {
        max-height: 65vw;
        max-width: 100%;
        width: 100%;
        margin-bottom: 50px; } }
    @media (max-width: 576px) {
      .main-screen__image {
        min-height: 85vw; } }

.short-story {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 1200px) {
    .short-story {
      flex-direction: column; } }
  .short-story__text {
    margin-right: 120px;
    padding: 100px 0 70px 150px;
    color: #333;
    border-top: 1px solid #977272; }
    @media (max-width: 1200px) {
      .short-story__text {
        display: none; } }
  .short-story__heading {
    align-self: flex-end;
    flex-shrink: 0;
    width: 630px;
    padding: 100px 200px 100px 0;
    color: #4f1010;
    border-bottom: 1px solid #977272; }
    @media (max-width: 1200px) {
      .short-story__heading {
        align-self: center;
        width: 280px;
        padding: 0;
        text-align: center;
        border-bottom: none; } }

.about-brand {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 170px;
  padding: 30px 0 200px 150px; }
  @media (max-width: 1200px) {
    .about-brand {
      margin-top: 0;
      padding: 100px 0 80px 27px; } }
  @media (max-width: 576px) {
    .about-brand {
      padding: 60px 20px; } }
  .about-brand__text-container {
    flex-shrink: 0;
    align-self: flex-end;
    margin-right: 30px;
    width: 380px; }
    @media (max-width: 992px) {
      .about-brand__text-container {
        align-self: center;
        width: 45%; } }
    @media (max-width: 576px) {
      .about-brand__text-container {
        width: 100%; } }
  .about-brand__title {
    margin-bottom: 20px;
    color: #4f1010; }
  .about-brand__text {
    margin-bottom: 30px;
    color: #333; }
    @media (max-width: 992px) {
      .about-brand__text {
        margin-bottom: 5px; } }
  @media (max-width: 992px) {
    .about-brand__hidden-paragraph {
      display: none; } }
  .about-brand__images-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    @media (max-width: 992px) {
      .about-brand__images-container {
        align-items: center;
        width: 48%; } }
    @media (max-width: 576px) {
      .about-brand__images-container {
        display: none; } }
  .about-brand__big-image {
    display: block;
    width: 500px;
    height: 530px; }
    @media (max-width: 992px) {
      .about-brand__big-image {
        height: auto;
        width: 100%; } }
  .about-brand__small-image {
    display: block;
    width: calc(100% - 100px - 20px - 500px);
    height: 430px;
    margin-left: 20px;
    object-fit: cover; }
    @media (max-width: 992px) {
      .about-brand__small-image {
        display: none; } }
  .about-brand__sticked-label {
    top: calc(23.5em + 200px); }

.shop {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 150px; }
  @media (max-width: 1200px) {
    .shop {
      padding: 0 27px; } }
  @media (max-width: 576px) {
    .shop {
      padding: 0; } }
  .shop__title {
    color: #4f1010;
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .shop__title {
        margin-bottom: 10px; } }
    @media (max-width: 576px) {
      .shop__title {
        padding: 0 20px; } }
  .shop__slider-chapter-buttons-row {
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .shop__slider-chapter-buttons-row {
        margin-bottom: 20px; } }
    @media (max-width: 576px) {
      .shop__slider-chapter-buttons-row {
        padding: 0 20px; } }
  .shop__slider-navigation-radio {
    display: none; }
    .shop__slider-navigation-radio:checked + .shop__chapter-button {
      color: #333;
      border-bottom-color: #333; }
  .shop__chapter-button {
    margin-right: 20px; }
  .shop__slider {
    margin-bottom: 45px; }
    @media (max-width: 992px) {
      .shop__slider {
        margin-bottom: 20px; } }
  .shop__big-button {
    width: 280px;
    margin: auto; }
  .shop__sticked-label {
    bottom: 250px; }
  .shop__slides-navigation-buttons-box {
    display: flex;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .shop__slides-navigation-buttons-box {
        align-self: flex-end; } }
    @media (max-width: 576px) {
      .shop__slides-navigation-buttons-box {
        align-self: center; } }
  .shop__slides-navigation-button {
    display: block;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    transition-duration: 0.35s; }
    .shop__slides-navigation-button:hover {
      transform: scale(1.1); }
    @media (max-width: 576px) {
      .shop__slides-navigation-button {
        padding: 30px; } }
    .shop__slides-navigation-button--back {
      margin-right: 20px;
      background: url(../images/shop/button-back.svg) center no-repeat;
      opacity: 0.3; }
      @media (max-width: 576px) {
        .shop__slides-navigation-button--back {
          margin-right: 50px; } }
    .shop__slides-navigation-button--next {
      background: url(../images/shop/button-next.svg) center no-repeat; }

.slider {
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-bottom: 40px; }
  @media (max-width: 992px) {
    .slider {
      padding-bottom: 0; }
      .slider::-webkit-scrollbar {
        display: none; } }
  .slider::-webkit-scrollbar {
    height: 9px;
    background-color: #e4dfd3; }
  .slider::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #977272; }
  .slider__slides-row {
    display: flex;
    width: calc(380px * 16 + 20px * 15);
    padding-top: 15px;
    transition-duration: 0.5s; }
    @media (max-width: 1200px) {
      .slider__slides-row {
        width: calc(calc(100% / 3 - 20px / 3 * 2) * 16 + 20px * 15); } }
    @media (max-width: 992px) {
      .slider__slides-row {
        width: calc(calc(100% / 2 - 20px / 2) * 16 + 20px * 15); } }
    @media (max-width: 576px) {
      .slider__slides-row {
        width: calc(100vw * 16 + 20px * 15); } }
  .slider__image {
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition-duration: 0.5s; }
    @media (max-width: 768px) {
      .slider__image {
        height: 350px; } }
    @media (max-width: 576px) {
      .slider__image {
        height: 100vw; } }
  .slider__slide {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-right: 20px;
    color: #333; }
    .slider__slide:last-child {
      margin-right: 0; }
    .slider__slide:hover {
      color: #977272; }
      .slider__slide:hover .slider__image {
        transform: scale(1.03); }
    @media (max-width: 1200px) {
      .slider__slide {
        width: calc(100% / 3 - 20px / 3 * 2); } }
    @media (max-width: 992px) {
      .slider__slide {
        width: calc(100% / 2 - 20px / 2); } }
    @media (max-width: 576px) {
      .slider__slide {
        width: 100vw; } }
  .slider__name {
    color: inherit;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 20px;
    transition-duration: 0.35s; }
    @media (max-width: 576px) {
      .slider__name {
        padding-left: 20px; } }
  .slider__price {
    color: inherit;
    transition-duration: 0.35s; }
    @media (max-width: 576px) {
      .slider__price {
        padding-left: 20px; } }

.about-creators {
  position: relative;
  display: flex;
  padding: 200px 50px 0 150px;
  justify-content: space-between;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .about-creators {
      padding: 100px 0 0 27px; } }
  @media (max-width: 576px) {
    .about-creators {
      padding: 60px 20px 0; } }
  .about-creators__content-box {
    align-self: flex-end;
    width: 35%;
    margin-right: 100px; }
    @media (max-width: 992px) {
      .about-creators__content-box {
        align-self: center;
        width: auto;
        margin-right: 30px; } }
    @media (max-width: 576px) {
      .about-creators__content-box {
        width: 100%;
        margin-right: 0; } }
  .about-creators__title {
    margin-bottom: 20px;
    color: #4f1010; }
    @media (max-width: 992px) {
      .about-creators__title {
        margin-bottom: 12px; } }
  .about-creators__text {
    margin-bottom: 20px; }
    @media (max-width: 992px) {
      .about-creators__text {
        margin-bottom: 10px; } }
    @media (max-width: 992px) {
      .about-creators__text--hidded {
        display: none; } }
  .about-creators__learn-more {
    margin-bottom: 50px; }
    @media (max-width: 992px) {
      .about-creators__learn-more {
        margin-bottom: 30px; } }
  .about-creators__to-contacts {
    width: 280px; }
    @media (max-width: 576px) {
      .about-creators__to-contacts {
        margin: auto; } }
  .about-creators__picture-box {
    display: inline-block;
    max-width: 55%;
    overflow: hidden; }
    @media (max-width: 992px) {
      .about-creators__picture-box {
        flex-shrink: 0; } }
    @media (max-width: 576px) {
      .about-creators__picture-box {
        display: none; } }
  .about-creators__img-actually {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition-duration: 0.5s; }
    .about-creators__img-actually:hover {
      transform: scale(1.04); }
  .about-creators__sticked-label {
    top: 44em; }

.ingredients {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 807px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 150px;
  overflow: hidden; }
  @media (max-width: 1200px) {
    .ingredients {
      padding-left: 27px; } }
  @media (max-width: 992px) {
    .ingredients {
      justify-content: space-between;
      height: 657px;
      padding-top: 100px;
      padding-bottom: 150px; } }
  @media (max-width: 576px) {
    .ingredients {
      height: auto;
      padding: 60px 20px; } }
  .ingredients__title {
    width: 300px;
    margin-bottom: 130px;
    color: #4f1010; }
    @media (max-width: 576px) {
      .ingredients__title {
        margin-bottom: 0; } }
  .ingredients__learn-more {
    width: 90px; }
  @media (max-width: 576px) {
    .ingredients__mobile-transparent-plug {
      height: 395px; } }
  .ingredients__illustration-box {
    position: absolute;
    top: 200px;
    right: 50px;
    display: flex; }
    @media (max-width: 992px) {
      .ingredients__illustration-box {
        top: 100px;
        right: -76px; } }
    @media (max-width: 768px) {
      .ingredients__illustration-box {
        right: -223.5294117647px; } }
    @media (max-width: 576px) {
      .ingredients__illustration-box {
        top: auto;
        bottom: 115px; } }
  .ingredients__hint-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
    text-align: end; }
    @media (max-width: 992px) {
      .ingredients__hint-container {
        position: absolute;
        top: 0;
        right: 323px;
        height: 395px; } }
    @media (max-width: 576px) {
      .ingredients__hint-container {
        right: 304px; } }
  .ingredients__hint {
    transition-duration: 0.5s; }
    .ingredients__hint:hover {
      transform: translateX(-2%); }
    .ingredients__hint::after {
      content: "";
      display: inline-block;
      height: 1em;
      width: 75px;
      margin-left: 20px;
      background: url(../images/ingredients/line.svg) center no-repeat; }
    @media (max-width: 992px) {
      .ingredients__hint {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 215px; }
        .ingredients__hint:last-child {
          transform: translateY(15px); }
          .ingredients__hint:last-child:hover {
            transform: translateY(15px) translateX(-2%); }
        .ingredients__hint::after {
          background-image: url(../images/ingredients/line-laptop.svg); } }
  @media (max-width: 992px) {
    .ingredients__hided {
      display: none; } }
  .ingredients__image {
    height: 395px;
    width: 380px;
    background: url(../images/ingredients/illustration.svg) center no-repeat;
    background-size: contain; }
  .ingredients__sticked-label {
    top: 25em; }

.features {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 250px; }
  @media (max-width: 1200px) {
    .features {
      padding: 0 27px 150px; } }
  @media (max-width: 768px) {
    .features {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 60px; } }
  .features__item {
    width: 32%;
    text-align: center; }
    .features__item:hover .features__image {
      transform: scale(1.1); }
    @media (max-width: 768px) {
      .features__item {
        width: 40%;
        margin-bottom: 50px; } }
    @media (max-width: 576px) {
      .features__item {
        width: 100%; } }
  .features__image {
    height: 100px;
    margin-bottom: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 0.5s; }
    .features__image--a {
      background-image: url(../images/features/illustration-a.svg); }
    .features__image--b {
      background-image: url(../images/features/illustration-b.svg); }
    .features__image--c {
      background-image: url(../images/features/illustration-c.svg); }

.contact-us {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  margin-bottom: 150px; }
  @media (max-width: 1200px) {
    .contact-us {
      padding-left: 27px; } }
  @media (max-width: 768px) {
    .contact-us {
      padding-right: 27px;
      margin-bottom: 100px; } }
  @media (max-width: 576px) {
    .contact-us {
      padding-right: 20px;
      padding-left: 20px; } }
  .contact-us__text-column {
    margin-right: 100px; }
    @media (max-width: 992px) {
      .contact-us__text-column {
        margin-right: 30px; } }
    @media (max-width: 768px) {
      .contact-us__text-column {
        width: 100%;
        margin-right: 0; } }
  .contact-us__title {
    margin-bottom: 20px;
    color: #4f1010; }
    @media (max-width: 576px) {
      .contact-us__title {
        margin-bottom: 10px; } }
  .contact-us__explanation {
    max-width: 380px;
    text-transform: lowercase; }
  .contact-us__image {
    max-height: 600px;
    width: 50%;
    overflow: hidden; }
    @media (max-width: 768px) {
      .contact-us__image {
        display: none; } }
  .contact-us__img-actually {
    display: block;
    margin-top: -100px;
    max-width: 100%;
    object-fit: cover;
    transition-duration: 0.5s; }
    .contact-us__img-actually:hover {
      transform: scale(1.04); }
  .contact-us__input {
    display: block;
    width: 100%;
    margin-top: 10px; }
    .contact-us__input--textaria {
      resize: vertical;
      max-height: 10em;
      margin-top: 40px; }
  .contact-us__button {
    width: 280px;
    margin-top: 50px;
    font-weight: 500; }
    @media (max-width: 768px) {
      .contact-us__button {
        margin: 45px auto 0; } }
    @media (max-width: 576px) {
      .contact-us__button {
        margin-top: 30px; } }
  .contact-us__sticked-label {
    bottom: 20em; }

.footer {
  display: grid;
  grid-template-areas: "links-box contacts-box" "copyright soc-media-box";
  justify-content: space-between;
  align-content: space-between;
  padding: 60px 50px;
  background-color: #977272;
  font-weight: 500;
  color: #e4dfd3; }
  @media (max-width: 1200px) {
    .footer {
      padding: 30px 27px; } }
  @media (max-width: 992px) {
    .footer {
      grid-template-areas: "links-box contacts-box" "soc-media-box contacts-box" "copyright copyright";
      align-content: flex-start; } }
  @media (max-width: 768px) {
    .footer {
      grid-template-areas: "links-box" "soc-media-box" "contacts-box" "copyright";
      padding-bottom: 60px;
      font-size: 14px; } }
  .footer a {
    color: inherit;
    transition-duration: 0.5s; }
    .footer a:hover {
      color: #4f1010; }
  .footer__links-box {
    grid-area: links-box; }
  .footer__link {
    padding: 10px 0;
    margin-right: 20px; }
    @media (max-width: 992px) {
      .footer__link {
        display: block; } }
  .footer__copyright {
    grid-area: copyright; }
    @media (max-width: 992px) {
      .footer__copyright {
        margin-top: 50px; } }
    @media (max-width: 768px) {
      .footer__copyright {
        margin-top: 20px;
        text-align: center; } }
  .footer__contacts-box {
    grid-area: contacts-box; }
  .footer__contact {
    display: block;
    margin-bottom: 20px; }
    @media (max-width: 768px) {
      .footer__contact {
        margin-bottom: 10px; } }
  .footer__soc-media-box {
    grid-area: soc-media-box; }
    @media (max-width: 768px) {
      .footer__soc-media-box {
        margin: 10px 0 30px; } }
  .footer__soc-media-item {
    display: inline-block;
    overflow: hidden;
    font-size: 0.1px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background: center no-repeat; }
    .footer__soc-media-item--facebook {
      background-image: url(../images/footer/facebook-ico.svg); }
      .footer__soc-media-item--facebook:hover {
        background-image: url(../images/footer/facebook-ico-colored.svg); }
    .footer__soc-media-item--instagram {
      background-image: url(../images/footer/instagram-ico.svg.svg); }
      .footer__soc-media-item--instagram:hover {
        background-image: url(../images/footer/instagram-ico-colored.svg.svg); }

/*# sourceMappingURL=main.css.map */
